.promo {
    background-image: url("../assets/images/promo.jpeg");
    background-size: cover;
    width: 100vw;
    height: 900px;
    margin-left: calc((1200px - 100vw)/2);
}

.promo-text {
    font-family: Alumni-Sans, serif;
    font-weight: 700;
    font-size: 160px;
    text-transform: uppercase;
    line-height: 1;
    color: #EEEDED;
    margin-left: calc((100vw - 1200px)/2);
    padding-top: 40px;
}

.about {
    margin-top: 120px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-left {
    font-family: Alumni-Sans, serif;
    font-weight: 600;
    font-size: 36px;
    width: 580px;
    text-transform: uppercase;
    line-height: 1.2;
}

.about-right {
    font-size: 16px;
    width: 580px;
}

.stats {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stats-row {
    display: flex;
    gap: 40px;
}

.stats-block {
    width: 580px;
    display: flex;
    gap: 16px;
    padding: 16px 32px 16px 32px;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #30292A66;
    align-items: center;
}

.stats-block-left {
    font-family: Montserrat, serif;
    font-size: 96px;
    font-weight: 600;
    text-align: right;
    width: 250px;
}

.stats-block-right {
    width: 258px;
}

.stats-block-right-h {
    font-family: Montserrat, serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 12px;
}

.block-with-header-columns {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.block-with-header-column1 {
    width: 890px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.block-with-header-column2 {
    width: 298px;
    height: 322px;
    border-radius: 6px;
    background-color: #1E385F;
    color: #EEEDED;
    background-image: url("../assets/images/services-right.png");
    background-size: 248px 248px;
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 16px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
}

.block-with-header-item {
    background-color: #F3F3F3;
    border-radius: 6px;
    height: 155px;
    padding: 20px;
    background-image: url("../assets/images/arrow-services.png");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
}

.block-with-header-column1-row {
    display: flex;
    gap: 12px;
}

.block-with-header-column1-lb {
    width: 551px;
}

.block-with-header-column1-sb {
    width: 327px;
}

.news {
    display: flex;
    gap: 25px
}

.news-left {
    width: 332px;
}

.news-right {
    display: flex;
    gap: 40px;
}

.news-block {
    width: 402px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.news-left-arrows {
    margin-top: 200px;
    margin-left: 218px;
}

.news-block-date {
    color: #9C9C9C;
}
